<div class="app">
  <div class="appHeader">
    <h2>Stack Overflow browser</h2>
  </div>
  <div class="appChildren">
    <h3>Top Questions</h3>
    <ul class="questions-container">
      <li class="questions" ng-repeat="question in app.questions">
        <div class="question-info">
          <h3 class="question-title">
            <a href="" ng-bind-html="question.title | unsafe">  </a>
          </h3>
        </div>
        <div class="question-owner-profile">
           <img src="{{ question.owner.profile_image }}"> <br>
           <span class="owner-name" ng-bind-html="question.owner.display_name | unsafe">  </span> <br>

           <small> Answer count: {{ question.answer_count }} </small>
           <br>

           <small> View count: {{ question.view_count }} </small>           
        </div> 
        <p>
          <button ng-click="app.getAnswersForQuestion(question.question_id)">Get Answers</button>  
          <pre  ng-if="question.question_id === app.answers.question_id" 
                ng-bind-html="app.answers.body | unsafe">  
          </pre>
        </p>       
      </li>
    </ul>
  </div>
</div>
